<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>add member item</title>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function() {
		$('#btn').click(function() {
			$('#addForm').submit();
		});
	});
</script>
</head>
<body>
	<form method="post" th:action="@{/addCategory}"  id="addForm">
		<table border="1">
			<tr>
				<th>카테고리 이름</th>
				<th>타입</th>
			</tr>
			<tr>
				<td>
					<input type="text" name="categoryName" id="categoryName">
				</td>
				<td>
					<select name="categoryType" id="categoryType">
						<option selected value="">상품의 카테고리를 선택해주세요.</option>
						<option th:value="0" th:text="0"></option>
						<option th:value="1" th:text="1"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="button" id="btn">추가</button>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>