<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>add member item</title>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('#btn').click(function(){
			if($('#categoryName').val() == "") {
				alert("카테고리 종류를 선택해주세요.");
			} else {
				$('#form').submit();
			}
		});
	});
</script>
</head>
<body>
	<a th:href="@{/index}">home</a>
	<form method="post" th:action="@{/addMemberItem}" enctype="multipart/form-data" id="form">
		<table border="1">
			<tr>
				<th>제목</th>
				<th>카테고리 이름</th>
				<th>가격</th>
				<th>내용</th>
				<th>사진</th>
			</tr>
			<tr>
				<td>
					<input type="text" name="memberItemTitle" id="memberItemTitle">
				</td>
				<td>
					<select name="categoryName" id="categoryName">
						<option selected value="">상품의 카테고리를 선택해주세요.</option>
						<option th:each="list : ${list}" th:value="${list.categoryName}" th:text="${list.categoryName}">
					</select>
				</td>
				<td>
					<input type="text" name="memberItemPrice" id="memberItemPrice">
				</td>
				<td>
					<textarea rows="10" cols="30" name="memberItemContent" id="memberItemContent"></textarea>
				</td>
				<td>
					<input type="file" name="memberItemPic1" id="memberItemPic1"><br>
					<input type="file" name="memberItemPic2" id="memberItemPic2"><br>
					<input type="file" name="memberItemPic3" id="memberItemPic3"><br>
					<input type="file" name="memberItemPic4" id="memberItemPic4"><br>
					<input type="file" name="memberItemPic5" id="memberItemPic5">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="button" id="btn">추가</button>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>