<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Super Market an Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Registered :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Super Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>	

	

    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
            	console.log(data.sido);
                console.log(data.sigungu);
                console.log(data.bname);
                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.sido +" "+ data.sigungu +" "+ data.bname;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.sido +" "+ data.sigungu +" "+ data.bname;
                }
                document.getElementById("address").value = addr;
                $('#memberSido').val(data.sido);
                $('#memberSigungu').val(data.sigungu); 
                $('#memberBname').val(data.bname); 
            }
        }).open();
    }
   
    let helperInit = function(){
    	$('#idHelper').text("");
    	$('#pwHelper').text("");
    	$('#nameHelper').text("");
    	$('#addrHelper').text("");
    	$('#phoneHelper').text("");
    	$('#emailHelper').text("");
    };


    $(document).ready(function() { 
    	$('#btn').click(function() {
    		if($('#memberId').val().length < 4){	
    			helperInit();
    			$('#idHelper').text("id 4자이상");
    			$('#memberId').focus();
    			
    		}else if($('#memberPw').val().length < 4){	
    			helperInit();
    			$('#pwHelper').text("pw 4자 이상 입력");
    			$('#memberPw').focus();			
    		}else if($('#memberPw').val()!= $('#memberPw2').val()) {
    			helperInit();
    			$('#pwHelper').text("pw를 확인하세요");
    			$('#memberPw').focus();
    		}else if($('#memberName').val().length === 0){ //0->공백 
    			helperInit();
    			$('#nameHelper').text("이름 입력하세요");
    			$('#memberName').focus();
    		}else if($('#memberAddr').val().length === 0){
    			helperInit();
    			$('#addrHelper').text("주소 입력하세요");
    			$('#memberAddr').focus();
    		}else if($('#memberPhone').val().length === 0){ 
    			helperInit();
    			$('#phoneHelper').text("전화번호 입력하세요");
    			$('#memberPhone').focus();			
    		}else if($('#memberEmail').val().length === 0){ 
    			helperInit();
    			$('#emailHelper').text("이메일을  입력하세요");
    			$('#memberEmail').focus();			
    		} else{
    			$('#myform').submit();
    		} 	
    	});

	   //아이디 중복 유효성 검사(비동기!!!)
	   $('#checkMemberId').blur(function(){ //커서 이동할때마다 blur 이벤트 발생. 아이디입력창에서 마우스 커스가 떠났을때.
	      console.log('#checkMemberId blur이벤트 발생'); //#id입력창에서 마우스커스 떠났다 
	   	  if($('#checkMemberId').val().length <4){
	   		  $('#memberIdCheckHelper').text('4글자이상');
	   		  $('#checkMemberId').focus();	 
	   	  }else{
	   		  //id를 사용가능한지 디비에 요청(비동기요청 : ajax)
	   		  $.ajax({
	   			  url:'/checkId',
	   			  type:'GET',
	   		  	  data:{checkMemberId:$('#checkMemberId').val()},
	   		  	  success:function(data){//data == 사용가능 or 사용 불가뜸 
	   		  		  console.log(data); // 결과 콘솔창으로 확인   
	   		  	  		if(data =='사용불가'){
	   		  	  			$('#memberIdCheckHelper').text('아이디 중복 사용불가');
	   		  	  			$('#checkMemberId').focus();
	   		  	  		}else if(data=='사용가능'){
	   		  	  			$('#memberIdCheckHelper').text('사용 가능한 아이디입니다');
	   		  	  		}
	   		  	  }
	   		  });
	   	  }
	   }); 
	   
	   //전화번호 중복 유효성 검사(비동기!!!)
	   $('#checkMemberPhone').blur(function(){ //커서 이동할때마다 blur 이벤트 발생. 아이디입력창에서 마우스 커스가 떠났을때.
	      console.log('#checkMemberPhone blur이벤트 발생'); //#id입력창에서 마우스커스 떠났다 
	   	  if($('#checkMemberPhone').val().length <11){
	   		  $('#memberPhoneCheckHelper').text('11글자이상');
	   		  $('#checkMemberPhone').focus();	 
	   	  }else{
	   		  //id를 사용가능한지 디비에 요청(비동기요청 : ajax)
	   		  $.ajax({
	   			  url:'/checkPhone',
	   			  type:'GET',
	   		  	  data:{checkMemberPhone:$('#checkMemberPhone').val()},
	   		  	  success:function(data){//data == 사용가능 or 사용 불가뜸 
	   		  		  console.log(data);  
	   		  	  		if(data =='사용불가'){
	   		  	  			$('#memberPhoneCheckHelper').text('핸드폰번호 중복 사용불가');
	   		  	  			$('#checkMemberPhone').focus();
	   		  	  		}else if(data=='사용가능'){
	   		  	  			$('#memberPhoneCheckHelper').text('사용 가능한 전화번호입니다');
	   		  	  		}
	   		  	  }
	   		  });
	   	  }
	   });   
	   
	   //이메일 중복 유효성 검사(비동기!!!)
	   $('#checkMemberEmail').blur(function(){ //커서 이동할때마다 blur 이벤트 발생. 아이디입력창에서 마우스 커스가 떠났을때.
	      console.log('#checkMemberEmail blur이벤트 발생'); //#id입력창에서 마우스커스 떠났다 
	   	  if($('#checkMemberEmail').val().length <8){
	   		  $('#memberEmailCheckHelper').text('메일형식으로 입력 하세요');
	   		  $('#checkMemberEmail').focus();	 
	   	  }else{
	   		  //id를 사용가능한지 디비에 요청(비동기요청 : ajax)
	   		  $.ajax({
	   			  url:'/checkEmail',
	   			  type:'GET',
	   		  	  data:{checkMemberEmail:$('#checkMemberEmail').val()},
	   		  	  success:function(data){//data == 사용가능 or 사용 불가뜸 
	   		  		  console.log(data);  
	   		  	  		if(data =='사용불가'){
	   		  	  			$('#memberEmailCheckHelper').text('이메일 중복, 사용불가');
	   		  	  			$('#checkMemberEmail').focus();
	   		  	  		}else if(data=='사용가능'){
	   		  	  			$('#memberEmailCheckHelper').text('사용가능한 이메일 입니다');
	   		  	  		}
	   		  	  }
	   		  });
	   	  }
	   });   
   });        
</script>
</head>

	
<body>
<!-- header -->
	<div class="agileits_header">
		<div class="container">
			<div class="w3l_offers">
			<p><a th:href="@{/about}">About us</a></p>
			</div>
			<div class="agile-login">
				<ul>
					<li th:if="${session.loginMember != null }">
						<a th:href="@{/logoutMember}">로그아웃</a>
					</li>
					<li th:if="${session.loginCompany != null }">
						<a th:href="@{/logoutCompany}">로그아웃</a>					
					</li>
					<li th:if="${session.loginAdmin != null }">
						<a th:href="@{/logoutAdmin}">로그아웃</a>					
					</li>
					<li th:if="${session.loginMember != null}">
						<a th:href="@{/memberMyPage}">마이페이지(회원)</a>
					</li>
					<li th:if="${session.loginCompany != null}">
						<a th:href="@{/companyMyPage}">마이페이지(업체)</a>
					</li>					
					<li	th:if="${session.loginMember == null && session.loginCompany ==null && session.loginAdmin==null}">
						<a th:href="@{/loginMemberAndCompany}">로그인</a>
					</li>
					<li th:if="${session.loginMember == null && session.loginCompany ==null && session.loginAdmin==null}">
						<a th:href="@{/addMemberAndCompany}">회원가입</a>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">QnA<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a th:href="@{/getQnaBoardMemberHtml}">멤버 자주 묻는 질문</a></li>
											<li><a th:href="@{/getQnaBoardCompany}">업체 자주 묻는 질문</a></li>
										</ul>
									</div>
								</div>
							</ul>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">공지사항<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a th:href="@{/getNoticeList}">공지사항</a></li>
											<li><a th:if="${session.loginAdmin} !=null" th:href="@{/addNotice}">공지사항작성</a></li>
										</ul>
									</div>
								</div>
							</ul>
					</li>
					<li th:if="${session.loginMember == null && session.loginCompany ==null && session.loginAdmin==null}">
						<a th:href="@{loginAdmin}">관리자</a>
					</li>
				</ul>
			</div>
			<div class="product_list_header" th:if="${session.loginMember != null}">  
				<input type="hidden" name="cmd" value="_cart">
				<input type="hidden" name="display" value="1">
				<a th:href="@{/getMyLikeItem}">
					<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
				</a>
			</div>
			<div class="product_list_header" th:if="${session.loginMember == null}">  
				<input type="hidden" name="cmd" value="_cart">
				<input type="hidden" name="display" value="1">
				<a>
					<button class="w3view-cart" type="button" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
				</a>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

	<div class="logo_products">
		<div class="container">
		<div class="w3ls_logo_products_left1">
			</div>
		<div class="w3ls_logo_products_left">			
			</div>
			<div class="w3ls_logo_products_left">
				<h1><a th:href="@{/index}">Mini Market</a></h1>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->
<!-- navigation -->
	<div class="navigation-agileits">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
					<button type="button"
						class="navbar-toggle collapsed navbar-toggle1"
						data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav">
						<li class="active"><a th:href="@{/index}" class="act">Home</a></li>
						<!-- Mega Menu -->
							<li class="dropdown"  th:if="${session.loginMember} != null"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">중고 물품 메뉴<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<h6>중고 물품 메뉴</h6>
											<li><a th:href="@{/getMemberItemList}">내동네 중고물품 목록</a></li>
										</ul>
									</div>
								</div>
							</ul></li>
							<li class="dropdown"  th:if="${session.loginMember==null && session.loginCompany==null && session.loginAdmin==null}"><a href="#" class="dropdown-toggle none">중고 물품 메뉴<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<h6>중고 물품 메뉴</h6>
											<li><a th:href="@{/getMemberItemList}">내동네 중고물품 목록</a></li>
										</ul>
									</div>
								</div>
							</ul></li>
							<!-- 업체 메뉴 -->
							<li class="dropdown" th:if="${session.loginCompany != null || session.loginMember != null}"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">업체 홍보 메뉴<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<h6>업체 홍보 메뉴</h6>
											<li><a th:if="${session.loginCompany} !=null" th:href="@{/addCompanyItem}">업체 홍보하기</a></li>
											<li><a th:if="${session.loginMember} != null" th:href="@{/getCompanyItemList}">내동네 업체홍보 목록</a></li>
										</ul>
									</div>
								</div>
							</ul></li>
							<!-- 업체 메뉴 -->
							<li class="dropdown" th:if="${session.loginMember==null && session.loginCompany==null && session.loginAdmin==null}"><a href="#" class="dropdown-toggle none">업체 홍보 메뉴<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<h6>업체 홍보 메뉴</h6>
											<li><a th:if="${session.loginCompany} !=null" th:href="@{/addCompanyItem}">업체 홍보하기</a></li>
											<li><a th:if="${session.loginMember} != null" th:href="@{/getCompanyItemList}">내동네 업체홍보 목록</a></li>
										</ul>
									</div>
								</div>
							</ul></li>
						<li th:if="${session.loginAdmin == null && session.loginCompany == null && session.loginMember!=null}"><!-- 채팅방 버튼 -->
							<a th:href="@{/chatroomList}" onclick="window.open(this.href,'_blank','width=600,height=850,left=400px,top=200px, scrollbars=yes');return false;">채팅방</a>
						</li>
						<li class="dropdown" th:if="${session.loginAdmin != null}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">회원 관리<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<h6>회원 / 업체</h6>
											<li><a th:href="@{getAdminMemberList}">회원</a></li>
											<li><a th:href="@{getAdminCompanyList}">업체</a></li>
										</ul>
									</div>	
								</div>
							</ul>
						</li>
						<li class="dropdown" th:if="${session.loginAdmin != null}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">신고 리스트<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<h6>회원 / 업체</h6>
											<li><a th:href="@{getReportMemberByMemberList}">회원 -> 회원</a></li>
											<li><a th:href="@{getReportMemberByMemberItemList}">회원 -> 회원 아이템</a></li>
											<li><a th:href="@{getReportMemberByCompanyList}">회원 -> 업체</a></li>
											<li><a th:href="@{getReportMemberByCompanyItemList}">회원 -> 업체 아이템</a></li>
											<li><a th:href="@{getReportCompanyByMemberList}">업체 -> 회원 댓글</a></li>
										</ul>
									</div>	
								</div>
							</ul>
						</li>
						<li class="dropdown" th:if="${session.loginAdmin != null}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">카테고리 생성<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a th:if="${session.loginAdmin} !=null" th:href="@{/addCategory}">카테고리 생성</a></li>
										</ul>
									</div>	
								</div>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
		
<!-- //navigation -->
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a th:href="@{/index}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">일반 회원가입</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- register -->
	<div class="register">
		<div class="container">
			<h2>일반 회원가입</h2>
			<div class="login-form-grids">
				<h4><strong>회원가입 기본정보</strong></h4>
				<br>
				<!-- 회원가입 아이디 체크 -->
				<form id="idForm" method="post" th:action="@{/addMember}" >				
					아이디:&nbsp;<input id="checkMemberId" name="memberId" style="width:270px; display:inline;" type="text" placeholder="ID를 입력하세요"  required=" " ><br>					
					<span id="memberIdCheckHelper"></span><!-- 공백일경우 메세지 안내뜸 -->	<br>																
				
					<!-- 연락처 중복 확인 -->			
					연락처:&nbsp;<input id="checkMemberPhone"  name="memberPhone" style="width:270px; display:inline;" type="text" placeholder="연락처를 입력하세요" required=" " ><br>				
					<span id="memberPhoneCheckHelper"></span><!-- 공백일경우 메세지 안내뜸 --><br>					
				
					<!-- 이메일 중복확인 -->		
					이메일:&nbsp;<input id="checkMemberEmail" name="memberEmail" style="width:270px; display:inline;" type="email" placeholder="ex) ㅇㅇㅇ@naver.com" required=" "><br>					
					<span id="memberEmailCheckHelper"></span><!-- 공백일경우 메세지 안내뜸 --><br>						
	
					<!-- 나의 이름과 동네 주소 -->	
					 이름:&emsp;&nbsp;<input style="width: 270px; display:inline;" type="text" placeholder="이름을  입력하세요" required=" "  name="memberName"><br>
					닉네임:&nbsp;<input style="width: 270px; display:inline;" type="text" placeholder="닉네임  입력하세요" required=" "  name="memberNickname"><br>
					 동네:&emsp;&nbsp;<input style="width: 270px; display:inline;" type="text" id="address" placeholder="나의 동네 주소" name="memberAdress" readonly="readonly">
					<input style="display:inline;" type="button" onclick="execDaumPostcode()" value="동네검색" name=""><br>
					
					<!-- 동네 주소값 히든으로 받아 넘기기  -->
					<input type ="hidden" name="memberSido" id="memberSido">
               	 	<input type ="hidden" name="memberSigungu" id="memberSigungu">
                	<input type ="hidden" name="memberBname" id="memberBname">
					
					
					<input type="submit" id="Form123" value="회원가입">
					
					<!--  <div class="register-check-box" 써먹을때있지않을까?>
						<div class="check">
							<label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>I accept the terms and conditions</label>
						</div>
					</div>
					 -->
				</form>
			</div>
			<div class="register-home">
				<a th:href="@{/index}">Home</a>
			</div>
		</div>
	</div>
<!-- //register -->
<!-- //footer -->
<div class="footer">		
		<div class="footer-copy">
			
			<div class="container">
				<p>© 2017 Super Market. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>
		
	</div>	
	<div class="footer-botm">
			<div class="container">
				<div class="w3layouts-foot">
					<ul>			
						<li><a href="https://github.com/dk4750/mini_market" target="_blank" class="w3_agile_dribble" ><i class="fa fa-github" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="payment-w3ls">	
					<img src="images/card.png" alt=" " class="img-responsive">
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- //footer -->	
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- top-header and slider -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="js/minicart.min.js"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>
<!-- main slider-banner -->
<script src="js/skdslider.min.js"></script>
<link href="css/skdslider.css" rel="stylesheet">
<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':true,'autoSlide':true,'animationType':'fading'});
						
			jQuery('#responsive').change(function(){
			  $('#responsive_wrapper').width(jQuery(this).val());
			});
			
		});
</script>	
<!-- //main slider-banner --> 

</body>
</html>