<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	// list 뿌리기
	$.ajax({
		url:'/getBuyListByMember2',
		type:'get',
		success : function(data) {
				console.log(data);
				$('#table').append('<tr>');
				$('#table').append('<th>'+"사진"+'</th>');
				$('#table').append('<th>'+"제목"+'</th>');
				$('#table').append('<th>'+"아이템가격"+'</th>');
				$('#table').append('<th>'+"아이템 올린 날짜"+'</th>');
				$('#table').append('<th>'+"구매완료"+'</th>');
				$('#table').append('</tr>');
				$.each(data, function(index, item){
					$('#table').append('<tr>');
					$('#table').append('<td><img width="300" height="150" src='+/images/+item.memberItemPic1+'></td>');
					$('#table').append('<td>'+item.memberItemTitle+'</td>')
					$('#table').append('<td>'+item.memberItemPrice+'</td>')
					$('#table').append('<td>'+item.memberItemDate+'</td>')
					$('#table').append('<td><button type="button" id="mannerBtn'+item.memberItemNo+'" onclick="window.open(\'/addManner?memberItemNo='+item.memberItemNo+'&memberUniqueNo='+item.memberUniqueNo+'&memberUniqueNoSale='+item.memberUniqueNoSale+'\', \'매너평가\', \'width=600,height=800,location=no,status=no,scrollbars=yes\')">매너평가하기</button><br><button type="button" id="reviewBtn'+item.memberItemNo+'"onclick="window.open(\'/addReview?memberItemNo='+item.memberItemNo+'&memberUniqueNo='+item.memberUniqueNo+'&memberUniqueNoSale='+item.memberUniqueNoSale+'\', \'매너평가\', \'width=600,height=800,location=no,status=no,scrollbars=yes\')">리뷰작성하기</button></td>')
					$('#table').append('</tr>');
					
					// manner 평가 했는지 check.
					$.ajax({
						url:'/mannerCheck',
						data:{
							memberUniqueNo:item.memberUniqueNoSale,
							memberItemNo:item.memberItemNo
						},
						type:'get',
						success : function(data) {
							console.log(data)
							if(data==1){
								$('#reviewBtn'+item.memberItemNo).prop("disabled", true);
							}
							
							if(data==0){
								$('#reviewBtn'+item.memberItemNo).prop("disabled", true);
							}
						}
					});
					
 					// review 작성 했는지 check
					$.ajax({
						url:'/reviewCheck',
						data:{
							memberItemNo:item.memberItemNo,
							memberUniqueNo:item.memberUniqueNoSale,
							memberItemNo:item.memberItemNo
						},
						type:'get',
						success : function(data) {
							console.log(data)
							if(data==1){
								$('#mannerBtn'+item.memberItemNo).prop("disabled", true);
							}
							
							if(data==0){
								$('#reviewBtn'+item.memberItemNo).prop("disabled", true);
							}
						}
					}); 
				});
			}
	});
	
	$(document).ready(function() {
		
	});
</script>
</head>
<body>
	<table border="1" id="table">
	</table>
</body>
</html>