<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>나의 구매완료 아이템</title>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
/* 			$('#table').append('<tr>');
			if(data.currentPage !=1) {
				$('#table').append('<td><a href="/getBuyListByMember?currentPage='+(data.currentPage-1)+'">이전</a></td>');	
			}
			if(data.currentPage != data.lastPage) {
				$('#table').append('<td><a href="/getBuyListByMember?currentPage='+(data.currentPage+1)+'">다음</a></td>');	
			}  */
	// list 뿌리기
	$.ajax({
		url:'/getBuyListByMember2',
		
		type:'get',
		
		success : function(data) {
				$.each(data.list, function(index, item){
					if(index%3 == 0) {
						$('#table').append('<tr>');
						$('#table').append('<td><a href="/getItemOne?memberItemNo='+item.memberItemNo+'"><img width="300" height="150" src='+/images/+item.memberItemPic1+'></a></td>');
						$('#table').append('<td>'+item.memberItemTitle+'</td>')
						$('#table').append('<td>'+item.memberItemPrice+'</td>')
						$('#table').append('<td>'+item.memberItemDate+'</td>')
						$('#table').append('<td><button type="button" id="mannerBtn'+item.memberItemNo+'" onclick="window.open(\'/addManner?memberItemNo='+item.memberItemNo+'&memberUniqueNo='+item.memberUniqueNo+'&memberUniqueNoSale='+item.memberUniqueNoSale+'\', \'매너평가\', \'width=510,height=750,location=no,status=no,scrollbars=yes\')">매너평가하기</button><br><button type="button" id="reviewBtn'+item.memberItemNo+'"  onclick="window.open(\'/addReview?memberItemNo='+item.memberItemNo+'&memberUniqueNo='+item.memberUniqueNo+'&memberUniqueNoSale='+item.memberUniqueNoSale+'\', \'매너평가\', \'width=510,height=750,location=no,status=no,scrollbars=yes\')">리뷰작성하기</button></td>')
						$('#table').append('</tr>');
					} else {
						$('#table').append('<td><a href="/getItemOne?memberItemNo='+item.memberItemNo+'"><img width="300" height="150" src='+/images/+item.memberItemPic1+'></a></td>');
						$('#table').append('<td>'+item.memberItemTitle+'</td>')
						$('#table').append('<td>'+item.memberItemPrice+'</td>')
						$('#table').append('<td>'+item.memberItemDate+'</td>')
						$('#table').append('<td><button type="button" id="mannerBtn'+item.memberItemNo+'" onclick="window.open(\'/addManner?memberItemNo='+item.memberItemNo+'&memberUniqueNo='+item.memberUniqueNo+'&memberUniqueNoSale='+item.memberUniqueNoSale+'\', \'매너평가\', \'width=510,height=750,location=no,status=no,scrollbars=yes\')">매너평가하기</button><br><button type="button" id="reviewBtn'+item.memberItemNo+'"  onclick="window.open(\'/addReview?memberItemNo='+item.memberItemNo+'&memberUniqueNo='+item.memberUniqueNo+'&memberUniqueNoSale='+item.memberUniqueNoSale+'\', \'매너평가\', \'width=510,height=750,location=no,status=no,scrollbars=yes\')">리뷰작성하기</button></td>')
					}
					// manner 평가 했는지 check.
					$.ajax({
						url:'/mannerCheck',
						data:{
							memberUniqueNo:item.memberUniqueNoSale,
							memberItemNo:item.memberItemNo
						},
						type:'get',
						success : function(data) {
							console.log(data + " = mannerCheck data")
							if(data==1){
								$('#mannerBtn'+item.memberItemNo).prop("disabled", true);
							}
							
							if(data==0){
								$('#reviewBtn'+item.memberItemNo).prop("disabled", true);
							}
						}
					});
					
 					// review 작성 했는지 check
					$.ajax({
						url:'/reviewCheck',
						data:{
							memberItemNo:item.memberItemNo,
							memberUniqueNo:item.memberUniqueNo,
							memberUniqueNoSale:item.memberUniqueNoSale
						},
						type:'get',
						success : function(data) {
							console.log(data + " = reviewCheck data")
							console.log(item.memberItemNo + " <== item.memberItemNo");
							if(data==1){
								$('#reviewBtn'+item.memberItemNo).prop("disabled", true);
							}
						}
					}); 
				});
			}
	});
	
	$(document).ready(function() {
		
	});
</script>
</head>
<body>
	<table id="table">
	</table>
	
</body>
</html>