
<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Super Market an Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Super Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); 
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<style>
.rounded {
  background: silver;
  border-radius: 200px;
}
</style>
</head>
<body>
<!-- header -->
	<div class="agileits_header">
		<div class="container">
			<div class="w3l_offers">
			<p><a href="/about">About us</a></p>
			</div>
			<div class="agile-login">
				<ul>
					
					<li>
						<a href="/logoutCompany">로그아웃</a>					
					</li>
					
					
					<li>
						<a href="/companyMyPage">마이페이지(업체)</a>
					</li>					
					
					
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">QnA<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a href="/getQnaBoardMemberHtml">멤버 자주 묻는 질문</a></li>
											<li><a href="/getQnaBoardCompany">업체 자주 묻는 질문</a></li>
										</ul>
									</div>
								</div>
							</ul>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">공지사항<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a href="/getNoticeList">공지사항</a></li>
											<li></li>
										</ul>
									</div>
								</div>
							</ul>
					</li>
					
				</ul>
			</div>
			
			<div class="product_list_header">  
				<input type="hidden" name="cmd" value="_cart">
				<input type="hidden" name="display" value="1">
				<a>
					<button class="w3view-cart" type="button" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
				</a>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

	<div class="logo_products">
		<div class="container">
		<div class="w3ls_logo_products_left1">
			</div>
		<div class="w3ls_logo_products_left">			
			</div>
			<div class="w3ls_logo_products_left">
				<h1><a href="/index">Mini Market</a></h1>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->
<!-- navigation -->
	<div class="navigation-agileits">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
					<button type="button"
						class="navbar-toggle collapsed navbar-toggle1"
						data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/index" class="act">Home</a></li>
						<!-- Mega Menu -->
							
							
							<!-- 업체 메뉴 -->
							<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">업체 홍보 메뉴<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<h6>업체 홍보 메뉴</h6>
											<li><a href="/addCompanyItem">업체 홍보하기</a></li>
											<li></li>
										</ul>
									</div>
								</div>
							</ul></li>
							<!-- 업체 메뉴 -->
							
						
						
						
						
					</ul>
				</div>
			</nav>
		</div>
	</div>
		
<!-- //navigation -->
	<hr>
	<table style="margin-left: auto; margin-right: auto;">
	<tr>
	<td>
	<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:1200px; height:600px;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      
      
      
      
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="/images/comPic1.png" alt="itemPic1" style="width:1200px; height:600px;">
      </div>
      
      
       
       
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
	</td>
	</tr>
	<tr>
		
		<td colspan="2"><br><br>
			<hr>
				<img class='rounded' src="/images/default.jpg" width="70" height="70">
				&nbsp;&nbsp;<span style="font-weight:bold; font-size:x-large" th:text="${myCompanyItemOne.companyName}"></span>
				<span th:text="${myCompanyItemOne.companyBname}"></span>
			<hr>
		</td>
	</tr>
	<tr>
		<td>
			<span style="font-weight:bold; font-size:xxx-large; float:left;" th:text="${myCompanyItemOne.companyItemTitle}"></span>&nbsp;
			<span style="float:right;">
				<a th:href="@{companyItemPullUp}" th:text="끌어올리기" class="btn btn-warning btn-lg"></a>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span style="color:gray;" th:text="${myCompanyItemOne.categoryName}"></span>
			<span style="color:gray;"> · </span>
			<span style="color:gray;" th:text="${myCompanyItemOne.companyItemDate}"></span>
		</td>
	</tr>
	<tr>
		<td><br></td>
	</tr>
	<tr>
		<td style="font-weight:bold;">
			<span style="font-weight:bold; font-size:xx-large;" th:text="${myCompanyItemOne.companyItemPrice}"></span> 원<br><br>
		</td>
	</tr>
	<tr>
		<td th:text="${myCompanyItemOne.companyItemContent}"></td>
	</tr>
	<tr>
		<td><br><br><br></td>
	</tr>
	<tr>
		<td>
			<span style="font-weight:bold;">&nbsp;업체대표&nbsp; : &nbsp;</span>
			<u style="color:orange;">
				<span style="color:orange; font-weight:bold;" th:text="${myCompanyItemOne.companyCeoName}"></span>
			</u>
		</td>
	</tr>
	<tr>
		<td>
			<span style="font-weight:bold;">&nbsp;연락처 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;</span>
			<u style="color:orange;">
				<span style="color:orange; font-weight:bold;" th:text="${myCompanyItemOne.companyPhone}"></span>
			</u>
		</td>
	</tr>
	<tr>
		<td>
			<span style="font-weight:bold;">&nbsp;메일문의&nbsp; : &nbsp;</span>
			<u style="color:orange;">
				<span style="color:orange; font-weight:bold;" th:text="${myCompanyItemOne.companyEmail}"></span>
			</u>
		</td>
	</tr>
	<tr>
		<td style="color:gray;"><br>
			<img id="img" src="/images/h.png" width="40px" height="40px">
			<span>관심 등록 click!!</span><br><br>
		</td>
	</tr>
	<tr>
		<td style="color:gray;">
			<span style="color:gray;" th:text="${myCompanyItemOne.likeActive}"></span>명의 회원이 관심등록 했습니다.<br><br>
		</td>
	</tr>
	<tr>
		<td>
			<div style="float:right;">
				<a th:href="@{/modifyCompanyItem(companyItemNo=${myCompanyItemOne.companyItemNo})}" class="btn btn-warning">수정</a>
				<a th:href="@{/disabledCompanyItem(companyItemNo=${myCompanyItemOne.companyItemNo})}" class="btn btn-danger">삭제</a>
			</div>
		</td>
	</tr>
</table><hr><br>
<!-- //footer -->
<div class="footer">		
		<div class="footer-copy">
			
			<div class="container">
				<p>© 2017 Super Market. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>
		
	</div>	
	<div class="footer-botm">
			<div class="container">
				<div class="w3layouts-foot">
					<ul>			
						<li><a href="https://github.com/dk4750/mini_market" class="w3_agile_dribble"><i class="fa fa-github" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="payment-w3ls">	
					<img src="images/card.png" alt=" " class="img-responsive">
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- //footer -->	
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- top-header and slider -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="js/minicart.min.js"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>
<!-- main slider-banner -->
<script src="js/skdslider.min.js"></script>
<link href="css/skdslider.css" rel="stylesheet">
<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':true,'autoSlide':true,'animationType':'fading'});
						
			jQuery('#responsive').change(function(){
			  $('#responsive_wrapper').width(jQuery(this).val());
			});
			
		});
</script>
<!-- //main slider-banner -->  	
	
</body>
</html>