<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>나의 판매중인 아이템</title>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	//리스트 뿌리기
	$.ajax({
		url:'/getItemListMyItem2',
		type:'get',
		success : function(data) {
			console.log(data+"<===리스트 뿌린 데이타");
			$('#table').append('<tr>');
			$('#table').append('<th>'+"사진"+'</th>');
			$('#table').append('<th>'+"제목"+'</th>');
			$('#table').append('<th>'+"아이템가격"+'</th>');
			$('#table').append('<th>'+"아이템 올린 날짜"+'</th>');
			$('#table').append('<th>'+"판매지역"+'</th>');
			$('#table').append('</tr>');
			$.each(data, function(index, item){
				$('#table').append('<tr>');
				$('#table').append('<td><a href="/getItemOne?memberItemNo='+item.memberItemNo+'&pageCheck='+1+'"><img width="300" height="150" src='+/images/+item.memberItemPic1+'></a></td>');
				$('#table').append('<td>'+item.memberItemTitle+'</td>')
				$('#table').append('<td>'+item.memberItemPrice+'</td>')
				$('#table').append('<td>'+item.memberItemDate+'</td>')
				$('#table').append('<td>'+item.memberBname+'</td>')
				$('#table').append('</tr>');
			});
		}
	});
</script>
</head>
<body>
	<a th:href="@{/index}">home</a>
	<table border="1" id="table">
	</table>
</body>
</html>