<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>내 관심 아이템 목록</title>
</head>
<body>
	<table border="1">
		<thead>
			<tr>
				<th>사진</th>
				<th>제목</th>
				<th>아이템가격</th>
				<th>아이템 올린 날짜</th>
				<th>판매지역</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="list : ${list}">
				<td>
					<a th:href="@{/getItemOne(memberItemNo=${list.memberItemNo})}"><img th:src="@{'/images/'+${list.memberItemPic1}}" width="300" height="150"></a>
				</td>
				<td th:text="${list.memberItemTitle}"></td>
				<td th:text="${list.memberItemPrice}"></td>
				<td th:text="${list.memberItemDate}"></td>
				<td th:text="${list.memberBname}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>