<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#searchBtn').click(function(){
			if($('#searchWord').val() == ""){
				alert("검색어를 입력해주세요");
				$("#searchWord").focus();
				return;
			}
			$("#searchForm").submit();
		});
	});
</script>
<title>공지사항</title>
</head>
<body>
	<form method="get" th:action="@{/getNoticeList}" id="searchForm">
	<div>
		<a th:if="${currentPage} != 1" th:href="@{/getNoticeList(currentPage=${currentPage-1},searchWord=${searchWord})}" >이전</a>
		<a th:if="${currentPage} != ${lastPage}" th:href="@{/getNoticeList(currentPage=${currentPage+1},searchWord=${searchWord})}">다음</a>
	</div>
	<table border="1">
		<thead>
			<tr>
				<td>
					<input type="text" name="searchWord" id="searchWord">
					<button type="button" id="searchBtn">검색</button>
				</td>
			</tr>
			<tr>
				<th>제목</th>
				<th>작성날짜</th>
				<th>작성자</th>
				<th>상세보기</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="list : ${list}">
				<td th:text="${list.noticeTitle}"></td>
				<td th:text="${list.noticeDate}"></td>
				<td th:text="${list.adminName}"></td>
				<td>
					<a th:href="@{/getNoticeOne(noticeNo=${list.noticeNo})}">상세보기</a>
				</td>
			</tr>
		</tbody>
	</table>
	</form>
</body>
</html>