<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공지사항</title>
</head>
<body>
	<div>
		<a th:href="@{/addNotice}">입력하기</a>
	</div>
	<table border="1">
		<thead>
			<tr>
				<th>제목</th>
				<th>작성날짜</th>
				<th>작성자</th>
				<th>상세보기</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="list : ${list}">
				<td th:text="${list.noticeTitle}"></td>
				<td th:text="${list.noticeDate}"></td>
				<td th:text="${list.adminName}"></td>
				<td>
					<a th:href="@{/getNoticeOne(noticeNo=${list.noticeNo})}">상세보기</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>