<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<ul>
		<li>
			<a th:href="@{/getCompanyItemListByCategory(categoryName='업체홍보')}" th:text="업체홍보"></a>
		</li>
	</ul>
	<table border="1">
		<thead>
			<tr>
				<th>사진</th>
				<th>제목</th>
				<th>업체 번호</th>
				<th>아이템 올린 날짜</th>
				<th>판매지역</th>
				<th>상세보기</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="list : ${list}">
				<td>
					<img th:src="@{'/images/'+${list.companyItemPic1}}" width="300" height="150">
				</td>
				<td th:text="${list.companyItemTitle}"></td>
				<td th:text="${list.companyPhone}"></td>
				<td th:text="${list.companyItemDate}"></td>
				<td th:text="${list.companyBname}"></td>
				<td>
					<a th:href="@{getCompanyItemOne(companyItemNo=${list.companyItemNo})}" th:text="상세보기"></a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>