<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Super Market an Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Super Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); 
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<style>
.rounded {
  background: silver;
  border-radius: 200px;
}
</style>
<!-- start-smoth-scrolling -->
</head>
<body>
<!-- header -->
	<div class="agileits_header">
		<div class="container">
			<div class="w3l_offers">
			<p><a th:href="@{/about}">About us</a></p>
			</div>
			<div class="agile-login">
				<ul>
					<li th:if="${session.loginMember != null }">
						<a th:href="@{/logoutMember}">로그아웃</a>
					</li>
					<li th:if="${session.loginCompany != null }">
						<a th:href="@{/logoutCompany}">로그아웃</a>					
					</li>
					<li th:if="${session.loginAdmin != null }">
						<a th:href="@{/logoutAdmin}">로그아웃</a>					
					</li>
					<li th:if="${session.loginMember != null}">
						<a th:href="@{/memberMyPage}">마이페이지(회원)</a>
					</li>
					<li th:if="${session.loginCompany != null}">
						<a th:href="@{/companyMyPage}">마이페이지(업체)</a>
					</li>					
					<li	th:if="${session.loginMember == null && session.loginCompany ==null && session.loginAdmin==null}">
						<a th:href="@{/loginMemberAndCompany}">로그인</a>
					</li>
					<li th:if="${session.loginMember == null && session.loginCompany ==null && session.loginAdmin==null}">
						<a th:href="@{/addMemberAndCompany}">회원가입</a>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">QnA<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a th:href="@{/getQnaBoardMemberHtml}">멤버 자주 묻는 질문</a></li>
											<li><a th:href="@{/getQnaBoardCompany}">업체 자주 묻는 질문</a></li>
										</ul>
									</div>
								</div>
							</ul>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">공지사항<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a th:href="@{/getNoticeList}">공지사항</a></li>
											<li><a th:if="${session.loginAdmin} !=null" th:href="@{/addNotice}">공지사항작성</a></li>
										</ul>
									</div>
								</div>
							</ul>
					</li>
					<li th:if="${session.loginMember == null && session.loginCompany ==null && session.loginAdmin==null}">
						<a th:href="@{loginAdmin}">관리자</a>
					</li>
				</ul>
			</div>
			<div class="product_list_header" th:if="${session.loginMember != null}">  
				<input type="hidden" name="cmd" value="_cart">
				<input type="hidden" name="display" value="1">
				<a th:href="@{/getMyLikeItem}">
					<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
				</a>
			</div>
			<div class="product_list_header" th:if="${session.loginMember == null}">  
				<input type="hidden" name="cmd" value="_cart">
				<input type="hidden" name="display" value="1">
				<a>
					<button class="w3view-cart" type="button" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
				</a>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

	<div class="logo_products">
		<div class="container">
		<div class="w3ls_logo_products_left1">
			</div>
		<div class="w3ls_logo_products_left">			
			</div>
			<div class="w3ls_logo_products_left">
				<h1><a th:href="@{/index}">Mini Market</a></h1>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->
<!-- navigation -->
	<div class="navigation-agileits">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
					<button type="button"
						class="navbar-toggle collapsed navbar-toggle1"
						data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav">
						<li class="active"><a th:href="@{/index}" class="act">Home</a></li>
						<!-- Mega Menu -->
							<li class="dropdown"  th:if="${session.loginMember} != null"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">중고 물품 메뉴<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<h6>중고 물품 메뉴</h6>
											<li><a th:href="@{/getMemberItemList}">내동네 중고물품 목록</a></li>
										</ul>
									</div>
								</div>
							</ul></li>
							<li class="dropdown"  th:if="${session.loginMember==null && session.loginCompany==null && session.loginAdmin==null}"><a href="#" class="dropdown-toggle none">중고 물품 메뉴<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<h6>중고 물품 메뉴</h6>
											<li><a th:href="@{/getMemberItemList}">내동네 중고물품 목록</a></li>
										</ul>
									</div>
								</div>
							</ul></li>
							<!-- 업체 메뉴 -->
							<li class="dropdown" th:if="${session.loginCompany != null || session.loginMember != null}"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">업체 홍보 메뉴<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<h6>업체 홍보 메뉴</h6>
											<li><a th:if="${session.loginCompany} !=null" th:href="@{/addCompanyItem}">업체 홍보하기</a></li>
											<li><a th:if="${session.loginMember} != null" th:href="@{/getCompanyItemList}">내동네 업체홍보 목록</a></li>
										</ul>
									</div>
								</div>
							</ul></li>
							<!-- 업체 메뉴 -->
							<li class="dropdown" th:if="${session.loginMember==null && session.loginCompany==null && session.loginAdmin==null}"><a href="#" class="dropdown-toggle none">업체 홍보 메뉴<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<h6>업체 홍보 메뉴</h6>
											<li><a th:if="${session.loginCompany} !=null" th:href="@{/addCompanyItem}">업체 홍보하기</a></li>
											<li><a th:if="${session.loginMember} != null" th:href="@{/getCompanyItemList}">내동네 업체홍보 목록</a></li>
										</ul>
									</div>
								</div>
							</ul></li>
						<li th:if="${session.loginAdmin == null && session.loginCompany == null && session.loginMember!=null}"><!-- 채팅방 버튼 -->
							<a th:href="@{/chatroomList}" onclick="window.open(this.href,'_blank','width=600,height=850,left=400px,top=200px, scrollbars=yes');return false;">채팅방</a>
						</li>
						<li class="dropdown" th:if="${session.loginAdmin != null}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">회원 관리<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<h6>회원 / 업체</h6>
											<li><a th:href="@{getAdminMemberList}">회원</a></li>
											<li><a th:href="@{getAdminCompanyList}">업체</a></li>
										</ul>
									</div>	
								</div>
							</ul>
						</li>
						<li class="dropdown" th:if="${session.loginAdmin != null}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">신고 리스트<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<h6>회원 / 업체</h6>
											<li><a th:href="@{getReportMemberByMemberList}">회원 -> 회원</a></li>
											<li><a th:href="@{getReportMemberByMemberItemList}">회원 -> 회원 아이템</a></li>
											<li><a th:href="@{getReportMemberByCompanyList}">회원 -> 업체</a></li>
											<li><a th:href="@{getReportMemberByCompanyItemList}">회원 -> 업체 아이템</a></li>
											<li><a th:href="@{getReportCompanyByMemberList}">업체 -> 회원 댓글</a></li>
										</ul>
									</div>	
								</div>
							</ul>
						</li>
						<li class="dropdown" th:if="${session.loginAdmin != null}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">카테고리 생성<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a th:if="${session.loginAdmin} !=null" th:href="@{/addCategory}">카테고리 생성</a></li>
										</ul>
									</div>	
								</div>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
		
<!-- //navigation -->
	<!-- main-slider --><br>
	<div align="center">
		<h1><span th:text="${memberNickname}"></span> 님의 프로필 정보</h1>
	</div>
	<br><br>
	<div align="center">
		<img th:src="@{${'/images/'+profilePic}}" width="200" height="200" class='rounded'>
	</div><br>
	<hr>
	<div align="center">
		<h3 style="font-size:large; font-weight:bold; width:300px;">매너온도</h3><br>
		<div class="progress" style="width:600px">
			<div class="progress-bar" th:style="'width:' + ${tempTotal} + '%'" th:text="${tempTotal} +℃" id="progressBar">70%</div>
		</div>
  	</div>
  	<hr>
  	<div align="center">
  		<h1 style="font-size:large; font-weight:bold; font-size:xx-large; width:300px;">받은 매너 평가</h1><br>
  	</div>
  	<table style="margin-left: auto; margin-right: auto;">
  		<tr>
  			<td>
  				<div><span th:text="${map.count1}" class="badge badge-pill badge-warning"></span><span style="font-weight:bold; font-size:large;"> 좋은 상품을 저렴하게 판매해요.</span></div>
  				<div><span th:text="${map.count2}" class="badge badge-pill badge-warning"></span><span style="font-weight:bold; font-size:large;"> 시간 약속을 잘 지켜요.</span></div>
  				<div><span th:text="${map.count3}" class="badge badge-pill badge-warning"></span><span style="font-weight:bold; font-size:large;"> 친절하고 매너가 좋아요.</span></div>
  				<div><span th:text="${map.count4}" class="badge badge-pill badge-warning"></span><span style="font-weight:bold; font-size:large;"> 응답이 빨라요.</span></div>
  				<div><span th:text="${map.count5}" class="badge badge-pill badge-warning"></span><span style="font-weight:bold; font-size:large;"> 상품상태가 설명한 것과 같아요.</span></div>
  				<div><span th:text="${map.count6}" class="badge badge-pill badge-warning"></span><span style="font-weight:bold; font-size:large;"> 상품설명이 자세해요.</span></div>
  			</td>
  		</tr>
  	</table><hr>
  	<br>
  	<div align="center">
  		<h1 style="font-size:large; font-weight:bold; font-size:xx-large; width:300px;">받은 리뷰 후기</h1><br>
  	</div>
  	<table style="margin-left: auto; margin-right: auto;">
  		<tr th:each="list : ${list}">
  			<td>
  				<div style="background-color:#FAECC5; width:700px"><br>
	  				<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  					<span th:text="${list.memberReviewContent}" style="font-weight:bold; font-size:x-large;"></span>
	  				</div>
	  				<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  					<span th:text="${list.memberReviewDate}" style="font-weight:bold;"></span>
	  				</div><br>
  				</div><br>
  			</td>
  		</tr>
  	</table>
</body>
<!-- //footer -->
<div class="footer">		
		<div class="footer-copy">
			
			<div class="container">
				<p>© 2017 Super Market. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>
		
	</div>	
	<div class="footer-botm">
			<div class="container">
				<div class="w3layouts-foot">
					<ul>			
						<li><a href="https://github.com/dk4750/mini_market" class="w3_agile_dribble"><i class="fa fa-github" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="payment-w3ls">	
					<img src="images/card.png" alt=" " class="img-responsive">
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- //footer -->	
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- top-header and slider -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="js/minicart.min.js"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>
<!-- main slider-banner -->
<script src="js/skdslider.min.js"></script>
<link href="css/skdslider.css" rel="stylesheet">
<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':true,'autoSlide':true,'animationType':'fading'});
						
			jQuery('#responsive').change(function(){
			  $('#responsive_wrapper').width(jQuery(this).val());
			});
			
		});
</script>	
<!-- //main slider-banner --> 
</body>
</html>