<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


<title>Super Market an Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Super Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); 
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->

<style>
.rounded {
  background: silver;
  border-radius: 200px;
}
</style>

</head>
	
<body>
<!-- header -->
	<div class="agileits_header">
		<div class="container">
			<div class="w3l_offers">
				<p><a th:href="@{/index}">SHOP NOW</a></p>
			</div>
			<div class="agile-login">
				<ul>					
					<li>
						<a th:href="@{/logoutMember}" >로그아웃</a>
					</li>
					<li>
						<a th:href="@{/memberMyPage}">마이페이지(회원)</a>
					</li>					
					<li><a href="">문의게시판</a></li>					
				</ul>
			</div>
			<div class="product_list_header">  
					<form action="#" method="post" class="last"> 
						<input type="hidden" name="cmd" value="_cart">
						<input type="hidden" name="display" value="1">
						<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
					</form>  
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

	<div class="logo_products">
		<div class="container">
		<div class="w3ls_logo_products_left1">
				<ul class="phone_email">
					
				</ul>
			</div>
			<div class="w3ls_logo_products_left">
				<h1><a th:href="@{/index}">Mini Market</a></h1>
			</div>
		<div class="w3l_search">
			<form action="#" method="post">
				<input type="search" name="Search" placeholder="Search for a Product..." required="">
				<button type="submit" class="btn btn-default search" aria-label="Left Align">
					<i class="fa fa-search" aria-hidden="true"> </i>
				</button>
				<div class="clearfix"></div>
			</form>
		</div>
			
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->
<!-- navigation -->
	<div class="navigation-agileits">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
					<button type="button"
						class="navbar-toggle collapsed navbar-toggle1"
						data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav">
						<li class="active"><a th:href="@{/index}" class="act">Home</a></li>
						<!-- Mega Menu -->
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">중고물품 관련<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<h6>중고물품 관련</h6>
											<li><a th:href="@{/addMemberItem}">중고아이템 판매</a></li>
											<li><a th:href="@{/getMemberItemList}">내동네 중고물품 목록</a></li>
											<li><a th:href="@{/getItemListMyItem}">내 판매중인 아이템 목록</a></li>
											<li><a th:href="@{/getBuyListByMember}">내가 구매한 아이템 목록</a></li>
											<li><a th:href="@{/modifyMemberItem}">내 아이템 수정 ---------- 상세보기 완료 후 생성</a></li>
											<li><a th:href="@{/getItemListBySaleMyItem}">내 판매완료 아이템 목록</a></li>
										</ul>
									</div>
								</div>
							</ul></li>

						<li><!-- 채팅방 버튼 -->
							<a th:href="@{/button}">채팅방</a>
						</li>
						<li>
							<a th:href>공지사항</a>
						</li>
						<li>
							<a th:href>about</a>
						</li>
				</div>
			</nav>
		</div>
	</div>
		
<!-- //navigation -->
<div class="breadcrumbs">
<div align="center">
	<!-- 프로필 사진 -->
	<br><br>
	<a class="btn btn-primary" th:href="@{/getMemberOne}">개인정보 수정</a>
	<a class="btn btn-success" th:href="@{/modifyMemberNickAndPic}">프로필사진 변경</a>
	<!-- 관심지역이 없으면 추가하기 있으면 수정하기  -->
	<span th:if="${interest1 != null}">
	<a class="btn btn-warning" th:href="@{/addMemberInterestPlace}">관심동네 설정</a>
	</span>
	<span th:if="${interest1 == null}">
	<a class="btn btn-warning" th:href="@{/modifyMemberInterestPlace}">관심동네 설정</a>
	</span>
	<br><br><br><br><br>
	<div>
	<img th:src="@{${'/images/'+memberPic}}" width="200" height="200" class='rounded'>	
	</div>
	<br>
	<a th:href="@{/getProfile(memberUniqueNo=${session.loginMember.memberUniqueNo}, memberId=${session.loginMember.memberId})}" class="btn btn-primary" style="width:300px">프로필 보기</a><br><br>
	<br>
	<ul>
	<li><a th:if="${session.loginMember} !=null" th:href="@{/getItemListMyItem}">내 판매중인 아이템 목록</a></li>
	<li><a th:if="${session.loginMember} !=null" th:href="@{/getBuyListByMember}">내가 구매한 아이템 목록</a></li>
	<li><a th:if="${session.loginMember} !=null" th:href="@{/getItemListBySaleMyItem}">내 판매완료 아이템 목록</a></li>
	<li><a class = "btn btn-warning" th:href="@{/getMyLikeItem}">내 관심상품 목록</a></li>
	</ul>
	<br><br><br><br>
	<a class="btn btn-warning btn-block btn-lg" style="width:500px" th:href="@{/removeMember}">회원 탈퇴</a>
	
	</div>
	<br>
	<br>

</div>		

<!-- //footer -->
<div class="footer">		
		<div class="footer-copy">
			
			<div class="container">
				<p>© 2017 Super Market. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>
		
	</div>	
	<div class="footer-botm">
			<div class="container">
				<div class="w3layouts-foot">
					<ul>			
						<li><a href="https://github.com/dk4750/mini_market" target="_blank" class="w3_agile_dribble" ><i class="fa fa-github" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="payment-w3ls">	
					<img src="images/card.png" alt=" " class="img-responsive">
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- top-header and slider -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="js/minicart.min.js"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>
<!-- main slider-banner -->
<script src="js/skdslider.min.js"></script>
<link href="css/skdslider.css" rel="stylesheet">
<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':true,'autoSlide':true,'animationType':'fading'});
						
			jQuery('#responsive').change(function(){
			  $('#responsive_wrapper').width(jQuery(this).val());
			});
			
		});
</script>	
<!-- //main slider-banner --> 
</body>
</html>