<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>modify member item</title>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function() {
		let count=0;
		let check = Number($('#check').text());
		if(check == 1) {
			$('#img').attr('src', '/images/heart.png');
			count = count + check;
			console.log(count + "asdas");
		} else if(check == 0) {
			$('#img').attr('src', '/images/emptyheart.png');
		}
		console.log(check)
		$('#btn').click(function() {
			count = count+1;
			console.log(count);
			$.ajax({
				url:'/likeCheck?count='+count,
				type:'get',
				success : function(data) {
					console.log("0이면 좋아요취소, 1이면 좋아요 : " + data);
					if(data == 1) {
						$('#img').attr('src', '/images/heart.png');
					} else {
						$('#img').attr('src', '/images/emptyheart.png');
					}
					count = data;
				}
			});
		});
	});
</script>
</head>
<body>
	<form method="post" th:action="@{/modifyMemberItem}" enctype="multipart/form-data">
		<table border="1">
			<tr>
				<th>제목</th>
				<th>카테고리 이름</th>
				<th>가격</th>
				<th>내용</th>
				<th>사진1</th>
				<th>사진2</th>
				<th>사진3</th>
				<th>사진4</th>
				<th>사진5</th>
			</tr>
			<tr>
				<td>
					<input type="text" name="memberItemTitle" id="memberItemTitle" th:value="${memberItem.memberItemTitle}">
				</td>
				<td>
					<input type="text" name="categoryName" id="categoryName" th:value="${memberItem.categoryName}">
				</td>
				<td>
					<input type="text" name="memberItemPrice" id="memberItemPrice" th:value="${memberItem.memberItemPrice}">
				</td>
				<td>
					<textarea rows="5" cols="10" name="memberItemContent" id="memberItemContent" th:text="${memberItem.memberItemContent}"></textarea>
				</td>
				<td>
					<img th:src="@{'/images/'+${memberItemPic.memberItemPic1}}" width="300" height="150"></img><br>
					<input type="file" name="memberItemPic1" id="memberItemPic1"><br>
				</td>
				<td>
					<img th:src="@{'/images/'+${memberItemPic.memberItemPic2}}" width="300" height="150"><br>
					<input type="file" name="memberItemPic2" id="memberItemPic2"><br>
				</td>
				<td>
					<img th:src="@{'/images/'+${memberItemPic.memberItemPic3}}" width="300" height="150"><br>
					<input type="file" name="memberItemPic3" id="memberItemPic3"><br>
				</td>
				<td>
					<img th:src="@{'/images/'+${memberItemPic.memberItemPic4}}" width="300" height="150"><br>
					<input type="file" name="memberItemPic4" id="memberItemPic4"><br>
				</td>
				<td>
					<img th:src="@{'/images/'+${memberItemPic.memberItemPic5}}" width="300" height="150"><br>
					<input type="file" name="memberItemPic5" id="memberItemPic5">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="submit">수정</button>
				</td>
			</tr>
		</table>
	</form>
	<button type="submit" id="btn"><img id="img" th:src="@{'/images/emptyheart.png'}" width="50" height="50"></button>
	<div id="check" style="display:none" th:text="${check}"></div>
</body>
</html>