<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.dk4750.miniMarket.mapper.CompanyItemMapper">
	
	<!-- 글의 총 갯수 -->
	<select id="totalCompanyItem" resultType="int" parameterType="String">
		SELECT
			COUNT(*)
		FROM mini_market_company_item	
		WHERE company_item_state = '홍보'
	</select>
	
	<!-- 검색어의 총 갯수 -->
	<select id="totalCompanyItemBySerach" resultType="int" parameterType="String">
		SELECT
			COUNT(*)
		FROM mini_market_company_item
		WHERE (company_item_title LIKE CONCAT('%', #{searchWord}, '%')
		OR company_item_content LIKE CONCAT('%', #{searchWord}, '%'))
		AND company_item_state = '홍보'
	</select>
	
	<!-- 다음 멤버 아이템의 넘버를 알기위해서 현재 멤버 아이템넘버 max+1 값 구해오기 -->
	<select id="selectMaxPlusCompanyItemNo" resultType="int">
		SELECT IFNULL(MAX(company_item_no)+1, 1) FROM mini_market_company_item
	</select>
	
 	<!-- 나의 업체아이템 상세보기  -->
	<select id="selectCompanyMyItemOne" resultType="com.cafe24.dk4750.miniMarket.vo.CompanyItemAndCompanyAndCompanyItemPicAndCompanyItemLikeAndCompanyPic" parameterType="String">
		SELECT 
			ci.company_item_no AS companyItemNo,
			ci.company_unique_no AS companyUniqueNo,
			ci.company_item_title AS companyItemTitle,
			c.company_sigungu AS companySigungu,
			c.company_bname AS companyBname,
			ci.category_name AS categoryName,
			c.company_name AS companyName,
			c.company_ceo_name AS companyCeoName,
			c.company_email AS companyEmail,
			c.company_phone AS companyPhone,
			cp.profile_pic AS profilePic,
			ci.company_item_price AS companyItemPrice,
			ci.company_item_content AS companyItemContent,
			ci.company_item_date AS companyItemDate,
			(SELECT COUNT(cil.like_active) FROM mini_market_company_item_like AS cil WHERE cil.like_active = '1' ) AS likeActive,
			cip.company_item_pic1 AS companyItemPic1,
			cip.company_item_pic2 AS companyItemPic2,
			cip.company_item_pic3 AS companyItemPic3,
			cip.company_item_pic4 AS companyItemPic4,
			cip.company_item_pic5 AS companyItemPic5
		FROM mini_market_company_item AS ci
		INNER JOIN mini_market_company AS c
		ON ci.company_unique_no = c.company_unique_no
		INNER JOIN mini_market_company_item_pic AS cip
		ON ci.company_item_no = cip.company_item_no
		INNER JOIN mini_market_company_item_like AS cil
		ON cil.company_item_no = ci.company_item_no
		INNER JOIN mini_market_company_pic AS cp
		ON cp.company_id = c.company_id
		WHERE 
			ci.company_unique_no = #{companyUniqueNo}
		AND
			ci.company_item_state = '홍보'
		GROUP BY ci.company_item_no   		
	</select> 
	
	<!-- 업체아이템 상세보기 -->
	<select id="selectCompanyItemOne" resultType="com.cafe24.dk4750.miniMarket.vo.CompanyItemAndCompanyAndCompanyItemPicAndCompanyItemLikeAndCompanyPic" parameterType="int">
		SELECT 
			ci.company_item_no AS companyItemNo,
			ci.company_unique_no AS companyUniqueNo,
			ci.company_item_title AS companyItemTitle,
			c.company_sigungu AS companySigungu,
			c.company_bname AS companyBname,
			ci.category_name AS categoryName,
			c.company_name AS companyName,
			c.company_ceo_name AS companyCeoName,
			c.company_email AS companyEmail,
			c.company_phone AS companyPhone,
			cp.profile_pic AS profilePic,
			ci.company_item_price AS companyItemPrice,
			ci.company_item_content AS companyItemContent,
			ci.company_item_date AS companyItemDate,
			COUNT(*) AS likeActive,
			cip.company_item_pic1 AS companyItemPic1,
			cip.company_item_pic2 AS companyItemPic2,
			cip.company_item_pic3 AS companyItemPic3,
			cip.company_item_pic4 AS companyItemPic4,
			cip.company_item_pic5 AS companyItemPic5
		FROM mini_market_company_item AS ci
		INNER JOIN mini_market_company AS c
		ON ci.company_unique_no = c.company_unique_no
		INNER JOIN mini_market_company_item_pic AS cip
		ON ci.company_item_no = cip.company_item_no
		INNER JOIN mini_market_company_item_like AS cil
		ON cil.company_item_no = ci.company_item_no 
		INNER JOIN mini_market_company_pic AS cp
		ON cp.company_id = c.company_id
		WHERE ci.company_item_no = #{companyItemNo} 
		AND cil.like_active = '1'
	</select>
	
	<!-- 업체아이템 끌어올리기 -->
	<update id="companyItemPullUp" parameterType="String">
		UPDATE mini_market_company_item
			SET 
				company_item_date = NOW()
			WHERE company_unique_no = #{companyUniqueNo}	
	</update>
	
	<!-- 업체아이템이 이미 올려져 있는 지 없는 지 체크 -->
	<select id="selectCompanyItemCheck" resultType="int" parameterType="com.cafe24.dk4750.miniMarket.vo.CompanyItem">
		SELECT COUNT(company_unique_no) 
			FROM mini_market_company_item
		WHERE company_unique_no = #{companyUniqueNo}
		AND company_item_state = '홍보'
	</select>
	
	<!-- 업체 아이템 추가(한번만 가능) -->
	<insert id="insertCompanyItem" parameterType="com.cafe24.dk4750.miniMarket.vo.CompanyItem">
		INSERT INTO mini_market_company_item(
				company_item_no,
				company_unique_no,
				company_item_title,
				category_name,
				company_phone,
				company_item_price,
				company_item_content,
				company_item_date
			) VALUES (
				#{companyItemNo},
				#{companyUniqueNo},
				#{companyItemTitle},
				#{categoryName},
				#{companyPhone},
				#{companyItemPrice},
				#{companyItemContent},
				NOW()		
			)	
	</insert> 
	
	<!-- 업체 아이템 삭제(비활성화) -->
	<update id="disabledCompanyItem" parameterType="com.cafe24.dk4750.miniMarket.vo.CompanyItem">
		UPDATE mini_market_company_item
		SET company_item_state = #{companyItemState}
		WHERE company_item_no = #{companyItemNo}
	</update>
	
	<!-- 업체 아이템 수정 (폼) -->
	<select id="selectCompanyItemOneForUpdate" resultType="com.cafe24.dk4750.miniMarket.vo.CompanyItem" parameterType="int">
		SELECT 
			company_item_no AS companyItemNo,
			company_unique_no AS companyUniqueNo,
			company_item_title AS companyItemTitle,
			category_name AS categoryName,
			company_phone AS companyPhone,
			company_item_price AS companyItemPrice,
			company_item_content AS companyItemContent,
			company_item_state AS companyItemState,
			company_item_date AS companyItemDate
		FROM mini_market_company_item
		WHERE company_item_no = #{companyItemNo}
	</select>
	
	<!-- 업체 아이템 수정 (액션)-->
	<update id="updateCompanyItem" parameterType="com.cafe24.dk4750.miniMarket.vo.CompanyItem">
		UPDATE mini_market_company_item
		SET
			company_item_title = #{companyItemTitle},
			category_name = #{categoryName},
			company_item_price = #{companyItemPrice},
			company_item_content = #{companyItemContent}
		WHERE company_item_no = #{companyItemNo}
	</update>
	
	<!-- 관심동네 홍보중인 업체 리스트-->
	<select id="selectPlaceByCompanyItemList" resultType="com.cafe24.dk4750.miniMarket.vo.CompanyItemAndCompanyAndCompanyItemPic" parameterType="Map">
		SELECT 
			ci.company_item_no AS companyItemNo,
			ci.company_item_title AS companyItemTitle,
			ci.company_phone AS companyPhone,
			ci.company_item_date AS companyItemDate,
			ci.company_unique_no AS companyUniqueNo,
			c.company_sigungu AS companySigungu,
			c.company_bname AS companyBname,
			cip.company_item_pic1 AS companyItemPic1
		FROM mini_market_company_item AS ci
		INNER JOIN mini_market_company AS c
		ON ci.company_unique_no = c.company_unique_no
		INNER JOIN mini_market_company_item_pic AS cip
		ON ci.company_item_no = cip.company_item_no
		WHERE (ci.company_item_title LIKE CONCAT('%', #{searchWord}, '%')
		OR ci.company_item_content LIKE CONCAT('%', #{searchWord}, '%'))
		AND ci.company_item_state = "홍보"
		AND c.company_sigungu = #{companySigungu}
		AND c.company_bname = #{companyBname}
		ORDER BY ci.company_item_no DESC
		LIMIt #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 홍보중인  업체 리스트 -->
	<select id="selectCompanyItemList" resultType="com.cafe24.dk4750.miniMarket.vo.CompanyItemAndCompanyAndCompanyItemPic" parameterType="Map">
		SELECT 
			ci.company_item_no AS companyItemNo,
			ci.company_item_title AS companyItemTitle,
			ci.company_phone AS companyPhone,
			ci.company_item_date AS companyItemDate,
			ci.company_unique_no AS companyUniqueNo,
			c.company_sigungu AS companySigungu,
			c.company_bname AS companyBname,
			cip.company_item_pic1 AS companyItemPic1
		FROM mini_market_company_item AS ci
		INNER JOIN mini_market_company AS c
		ON ci.company_unique_no = c.company_unique_no
		INNER JOIN mini_market_company_item_pic AS cip
		ON ci.company_item_no = cip.company_item_no
		WHERE (ci.company_item_title LIKE CONCAT('%', #{searchWord}, '%')
		OR ci.company_item_content LIKE CONCAT('%', #{searchWord}, '%'))
		AND ci.company_item_state = "홍보"
		AND c.company_sigungu = #{companySigungu}
		AND c.company_bname = #{companyBname}
		ORDER BY ci.company_item_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 카테고리별 홍보중인  업체 리스트 -->
	<select id="selectCompanyItemListByCategory" resultType="com.cafe24.dk4750.miniMarket.vo.CompanyItemAndCompanyAndCompanyItemPic" parameterType="Map">
		SELECT 
			ci.company_item_no AS companyItemNo,
			ci.company_item_title AS companyItemTitle,
			ci.company_phone AS companyPhone,
			ci.company_item_date AS companyItemDate,
			ci.company_unique_no AS companyUniqueNo,
			c.company_sigungu AS companySigungu,
			c.company_bname AS companyBname,
			cip.company_item_pic1 AS companyItemPic1
		FROM mini_market_company_item AS ci
		INNER JOIN mini_market_company AS c
		ON ci.company_unique_no = c.company_unique_no
		INNER JOIN mini_market_company_item_pic AS cip
		ON ci.company_item_no = cip.company_item_no
		AND ci.company_item_state = "홍보"
		AND c.company_sigungu = #{companySigungu}
		AND c.company_bname = #{companyBname}
		AND ci.category_name = #{categoryName}
		ORDER BY ci.company_item_no DESC
		LIMIt #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 내가 좋아요 한 업체 아이템 리스트 출력 -->
	<select id="selectMyLikeCompanyItem" resultType="com.cafe24.dk4750.miniMarket.vo.CompanyItemAndCompanyAndCompanyItemPicAndCompanyItemLike" parameterType="Map">
		SELECT 
			ci.company_item_no AS companyItemNo,
			ci.company_item_title AS companyItemTitle,
			ci.company_phone AS companyPhone,
			ci.company_item_date AS companyItemDate,
			ci.company_unique_no AS companyUniqueNo,
			c.company_sigungu AS companySigungu,
			c.company_bname AS companyBname,
			cip.company_item_pic1 AS companyItemPic1
		FROM mini_market_company_item AS ci
		INNER JOIN mini_market_company AS c
		ON ci.company_unique_no = c.company_unique_no
		INNER JOIN mini_market_company_item_pic AS cip
		ON ci.company_item_no = cip.company_item_no
		INNER JOIN mini_market_company_item_like AS cil 
	    ON ci.company_item_no = cil.company_item_no
		WHERE (ci.company_item_title LIKE CONCAT('%', #{searchWord}, '%')
		OR ci.company_item_content LIKE CONCAT('%', #{searchWord}, '%'))
		AND ci.company_item_state = "홍보"
		AND cil.like_active = '1'
		AND cil.member_unique_no = #{memberUniqueNo}
		ORDER BY ci.company_item_no DESC
		LIMIt #{beginRow}, #{rowPerPage}
	</select>
</mapper>