<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.dk4750.miniMarket.mapper.MemberMapper">

	

	
	<!-- 멤버 아이디 중복확인 -->
	
	<!-- 핸드폰 중복확인 -->
	
	<!-- 이메일 중복확인 -->
	
	<!-- 로그인 유효성 검사 -->
	
	<!--나의 정보보기 -->
	
	<!-- 멤버사진 수정 -->
	
	<!-- 탈퇴 -->
	
	<!-- 멤버 백업 -->
	
	<!-- 아이디 찾기  -->
	
	<!-- 비번찾기 -->
	
	<!--회원가입 멤버 디폴트 사진추가 -->
	<insert id="insertMemberPic" parameterType="com.cafe24.dk4750.miniMarket.vo.MemberPic">
	 INSERT INTO mini_market_member_pic(	 	
	 	member_id, 
	 	pic_date	 	
	 )VALUES(
	  	#{memberId},
	  	now()
	 )
	</insert>
	
	<!-- 멤머 정보 입력, 회원가입  -->
	<insert id="insertMember" parameterType="com.cafe24.dk4750.miniMarket.vo.Member">
		INSERT INTO mini_market_member(
         member_id,
         member_sido,
         member_sigungu,
         member_bname,
         member_pw,
         member_nickname,
         member_name,
         member_email,
         member_unique_no,
         member_phone,
         member_date               
      ) VALUES (
         #{memberId},
         #{memberSido},
         #{memberSigungu},
         #{memberBname},         
         PASSWORD(#{memberPw}),
         #{memberNickname},
         #{memberName},
         #{memberEmail},
         #{memberUniqueNo},
         #{memberPhone},
         now()
      )
	</insert>	
</mapper>