<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.dk4750.miniMarket.mapper.ReportCompanyByMemberMapper">
	<!-- 신고 상태 수정 -->
	<update id="updateReportCompanyByMemberState" parameterType="com.cafe24.dk4750.miniMarket.vo.ReportCompanyByMember">
		UPDATE mini_market_report_c_by_m
		SET report_state = #{reportState}
		WHERE report_no = #{reportNo}
	</update>
	<!-- 신고 상태별 totalRow -->
	<select id="getStateTotalRow" parameterType="String" resultType="int">
		SELECT
			COUNT(*)
		FROM mini_market_report_c_by_m
		WHERE report_state = #{reportState}
	</select>
	<!-- 신고 상태별 List -->
	<select id="selectReportCompanyByMemberStateList" parameterType="Map" resultType="com.cafe24.dk4750.miniMarket.vo.ReportCompanyByMember">
		SELECT
			report_no as reportNo,
			company_id as companyId,
			report_title as reportTitle,
			report_state as reportState,
			report_date as reportDate
		FROM mini_market_report_c_by_m
		WHERE report_state = #{reportState}
		ORDER BY report_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<!-- totalList Count -->
	<select id="getTotalRow" resultType="int">
		SELECT
			COUNT(*)
		FROM mini_market_report_m_by_c
	</select>
	<!-- 신고 totalList -->
	<select id="selectReportCompanyByMemberAll" parameterType="Map" resultType="com.cafe24.dk4750.miniMarket.vo.ReportCompanyByMember">
		SELECT
			report_no as reportNo,
			company_id as companyId,
			report_title as reportTitle,
			report_state as reportState,
			report_date as reportDate
		FROM mini_market_report_c_by_m
		ORDER BY report_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<!-- 신고 상세 페이지 -->
	<select id="selectReportCompanyByMemberOne" parameterType="int" resultType="com.cafe24.dk4750.miniMarket.vo.ReportCompanyByMember">
		SELECT
			report_no as reportNo,
			report_title as reportTitle,
			report_content as reportContent,
			company_id as companyId,
			member_unique_no as memberUniqueNo,
			report_state as reportState,
			report_date as reportDate
		FROM mini_market_report_c_by_m
		WHERE report_no = #{reportNo}
	</select>
	<!-- 신고 하기 접수 -->
	<insert id="insertReportCompanyByMember" parameterType="com.cafe24.dk4750.miniMarket.vo.ReportCompanyByMember">
		INSERT INTO mini_market_report_c_by_m(
			report_title,
			report_content,
			company_id,
			member_unique_no,
			report_date
		) VALUES (
			#{reportTitle},
			#{reportContent},
			#{companyId},
			#{memberUniqueNo},
			now()
		)
	</insert>
</mapper>